.padding-form{
	padding-top: 10px;
	padding-bottom: 10px;
}

.bg-head {
	background-image:url(../img/bg/default_bg.png); 
	background-size:cover
}

.bg-text-head {
	background:rgba(0,0,0,0.4);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 35px;
	padding-left: 35px;
}

.back {
	margin-right: 20px;
	cursor: pointer;
}

img.img-respon {
	width: 30px;
	height: 30px;
}

button.btn-submit {
	width: 100%;
}